.top-boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin: 10px;
	background: white;
	.per {
		color: green;
		font-size: 20px;
	}
}